<% layout('layout')%>

<h1 class="text-center">Contact them!</h1>
<iframe width="90%" height="800px" frameborder="0" style="border:0;margin-left:5%" src="https://www.google.com/maps/embed/v1/place?q=addiction%ngo&key=AIzaSyBMjefCMGWqujAt5jKbLWx1D_E-ET2nRmU" allowfullscreen></iframe>