<h1>Privacy Policy of de-addict.herokuapp.com</h1>
<hr>
<p>This website takes information from user and make statistics on their expenses.</p>
This website is open sourced and can pe found on https://github.com/visage98/HackMSIT2k18
<br>
<hr>
<br>
<h3>For more details, contact :</h3>
<p>
<h4>Deepanshu Bagri</h4>
deepanshu.bagri98@gmail.com
</p>
<p>
<h4>Chankaya Garg</h4>
chiraggarg025@gmail.com
</p>